*.iml
.gradle/
.gradle-home/
.android-sdk/
.android-home/
.android-avd/
.kotlin/
.tmp/
/local.properties
/.idea/
/build/
/captures/
.DS_Store
app/build/
play-store/assets/generated/
play-store/secrets/
*.jks
*.keystore
